{{ 'gls-core-values.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .gls-core-values-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }

  /* Dynamic Settings for Headings */
  .gls-core-values-{{ section.id }} .gls-core-values__subheading {
    font-size: {{ section.settings.subheading_size }}px;
    color: {{ section.settings.subheading_color }};
  }
  
  .gls-core-values-{{ section.id }} .gls-core-values__subheading::after {
    border-bottom-color: {{ section.settings.subheading_line_color }};
  }

  .gls-core-values-{{ section.id }} .gls-core-values__heading {
    font-size: {{ section.settings.heading_size }}px;
    color: {{ section.settings.heading_color }};
  }

  /* Dynamic Settings for Blocks */
  .gls-core-values-{{ section.id }} .gls-core-values__item {
    border-bottom: 1px solid {{ section.settings.border_color }};
  }
{%- endstyle -%}

<div class="gls-core-values gls-core-values-{{ section.id }} section-{{ section.id }}-padding" id="fw_icon_snippet_2">
  <div class="gls-core-values__container">
    
    <!-- Section Header -->
    <div class="gls-core-values__header">
      {%- if section.settings.subheading != blank -%}
        <span class="gls-core-values__subheading">{{ section.settings.subheading }}</span>
      {%- endif -%}
      {%- if section.settings.heading != blank -%}
        <h2 class="gls-core-values__heading">{{ section.settings.heading }}</h2>
      {%- endif -%}
    </div>

    <!-- Content Rows -->
    <div class="gls-core-values__rows">
      {%- for block in section.blocks -%}
        <div class="gls-core-values__item" {{ block.shopify_attributes }}>
          
          <!-- Number -->
          <div class="gls-core-values__number" style="color: {{ block.settings.number_color }}; font-size: {{ block.settings.number_size }}px;">
            {{ block.settings.number }}
          </div>

          <!-- Icon -->
          <div class="gls-core-values__icon">
            {%- if block.settings.custom_icon != blank -%}
              {{ block.settings.custom_icon | image_url: width: 100 | image_tag: loading: 'lazy' }}
            {%- elsif block.settings.icon_svg != blank -%}
              <div class="gls-icon-svg" style="color: {{ block.settings.icon_color }}; width: {{ block.settings.icon_size }}px; height: {{ block.settings.icon_size }}px;">
                {{ block.settings.icon_svg }}
              </div>
            {%- else -%}
              <!-- Fallback Icons based on selection -->
              <div class="gls-icon-svg" style="color: {{ block.settings.icon_color }}; width: {{ block.settings.icon_size }}px; height: {{ block.settings.icon_size }}px;">
                {% case block.settings.icon_name %}
                  {% when 'rocket' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"><path d="M8 8c.828 0 1.5-.895 1.5-2S8.828 4 8 4s-1.5.895-1.5 2S7.172 8 8 8"/><path d="M11.953 8.81c-.195-3.388-.968-5.507-1.777-6.819C9.707 1.233 9.23.751 8.85.51c-.538-.34-1.162-.34-1.7 0-1.07.679-1.966 1.938-2.392 3.504C4.168 5.844 4 7.1 4 8c0 .374.032.735.094 1.09.06.355.15.709.264 1.055.114.346.25.68.406 1.002.155.322.328.63.516.922l.497.745c.305.456.665.867 1.072 1.226a.5.5 0 0 0 .638-.057l.5-.5a.5.5 0 0 0-.057-.638 8.98 8.98 0 0 1-1.226-1.072l-.745-.497a10.86 10.86 0 0 1-.922-.516 9.75 9.75 0 0 1-1.002-.406 9.15 9.15 0 0 1-1.055-.264A9.29 9.29 0 0 1 4.094 8c0-.9.168-2.156.758-3.996.426-1.566 1.322-2.825 2.392-3.504.538-.34 1.162-.34 1.7 0 .38.241.857.723 1.326 1.481.809 1.312 1.582 3.43 1.777 6.819a.5.5 0 0 0 .499.499.5.5 0 0 0 .499-.499z"/></svg>
                  {% when 'eye' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/></svg>
                  {% when 'gem' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"><path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413h2.582zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm13.002.001-3.291 6.819 2.103-6.82 1.188.001z"/></svg>
                  {% when 'star' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
                {% endcase %}
              </div>
            {%- endif -%}
          </div>

          <!-- Description -->
          <div class="gls-core-values__content">
            <h3 class="gls-core-values__item-title" style="color: {{ block.settings.title_color }}; font-size: {{ block.settings.title_size }}px;">
              {{ block.settings.title }}
            </h3>
            <div class="gls-core-values__item-text" style="color: {{ block.settings.text_color }}; font-size: {{ block.settings.text_size }}px;">
              {{ block.settings.text }}
            </div>
          </div>

        </div>
      {%- endfor -%}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "GLS Core Values",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Layout"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Default Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Headings"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "our value"
    },
    {
      "type": "range",
      "id": "subheading_size",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Subheading Size",
      "default": 47
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading Color",
      "default": "#bbbbbb"
    },
    {
      "type": "color",
      "id": "subheading_line_color",
      "label": "Subheading Line Color",
      "default": "#bbbbbb"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "lorem ipsum dolor sit amet"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Heading Size",
      "default": 32
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#eeeeee"
    },
    {
      "type": "header",
      "content": "List Styling"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Item Border Color",
      "default": "rgba(255,255,255,0.2)"
    }
  ],
  "blocks": [
    {
      "type": "value_block",
      "name": "Value Item",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "label": "Number",
          "default": "01"
        },
        {
          "type": "color",
          "id": "number_color",
          "label": "Number Color",
          "default": "#9f9f9f"
        },
        {
          "type": "range",
          "id": "number_size",
          "min": 12,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Number Size",
          "default": 14
        },
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "select",
          "id": "icon_name",
          "label": "Choose Icon",
          "options": [
            { "value": "rocket", "label": "Rocket" },
            { "value": "eye", "label": "Eye" },
            { "value": "gem", "label": "Gem" },
            { "value": "star", "label": "Star" }
          ],
          "default": "rocket"
        },
        {
          "type": "html",
          "id": "icon_svg",
          "label": "Custom SVG (Overrides selection)"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom Image (Overrides SVG)"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 20,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Icon Size",
          "default": 50
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon Color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "our mission"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "title_size",
          "min": 16,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Title Size",
          "default": 24
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description",
          "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#9f9f9f"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Text Size",
          "default": 16
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GLS Core Values (List)",
      "blocks": [
        {
          "type": "value_block",
          "settings": {
            "number": "01",
            "title": "Our Mission",
            "icon_name": "rocket"
          }
        },
        {
          "type": "value_block",
          "settings": {
            "number": "02",
            "title": "Our Vision",
            "icon_name": "eye"
          }
        },
        {
          "type": "value_block",
          "settings": {
            "number": "03",
            "title": "Our Value",
            "icon_name": "gem"
          }
        }
      ]
    }
  ]
}
{% endschema %}
